<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyyjr.dao.dxywdao.UserWarningMapper" >

  <insert id="insertUserWarning" parameterType="com.jyyjr.pojo.UserWarning" >
    insert into dxd_fk.user_warning
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vid != null" >
        vid,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vid != null" >
        #{vid,jdbcType=CHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=INTEGER},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <select id="selectUserWarningVid" resultType="string">
  	SELECT vid FROM dxd_fk.user_warning
  </select>
  
</mapper>